body {
  background-color: beige;
}
h1,
h2,
ul,
p {
  text-align: center;
  list-style-type: none;
  margin: 20px;
  padding: 10px;
}

li {
  display: list-item;
}

img {
  display: block;
  margin: 0 auto;
}
